{{!-- HTML code for driver Delivery Map page --}}
{{!-- Author(s): Emily and Eunice --}}
<head>
    <link rel="stylesheet" href="/stylesheets/driver-pages-css/driverDeliveryMap.css">
    {{!-- <link rel="stylesheet" href="/stylesheets/driver-pages-css/driverOrderDetails.css"> --}}

</head>
<div id="wrapper">
    <div id="map-wrapper">
        <img id="static-map" src="/images/sfsu-static-map.png" alt="">
    </div>

        

    <br>
    
    <div id="delivery-order-wrapper">
        <div id="delivery-location">
            {{message}}
            {{#each orders}}
                <b><i class="bi bi-geo-alt-fill"></i></b>Delivery Location: {{building}}, Room #{{roomNumber}}
            {{/each}}
        </div>
    
        <hr style="width: 70%;">
        
        <div id="order-items-list">
            <h3>Order Items</h3>
            <hr style="width: 70%;">
            <div id="scrollbar-wrapper">
                {{!-- partials for each ticket in the order --}}
                {{#each tickets}}
                    {{> driverorderticket this id='{{@index}}'}}
                 {{/each}}
               
            </div>
            
        </div>
    </div>
        
       
        

   

</div>
     {{!-- cancel or completed delivery buttons --}}
    <form action="../drivers/deliveryStatus" method="POST">
        <div id="delivery-buttons-wrapper">
            {{!-- <a id="cancel-delivery-button" class="delivery-button" href="/driverOrderList">Cancel Delivery</a> --}}
            {{!-- <a id="completed-delivery-button" class="delivery-button">Delivery Complete</a> --}}
            {{#each orders}}
                <input type="hidden" name="orderID" value="{{orderID}}">
            {{/each}}
            <button id="cancel-delivery-button" name="status" value="cancel"class="delivery-button" type="submit">Cancel Delivery</button>
            <button id="completed-delivery-button" name="status" value="complete"class="delivery-button" type="submit">Delivery Complete</button>
        </div>
    </form>
