{{!-- HTML for page that shows drivers the details of an order --}}
{{!-- Author(s): Emily and Eunice --}}

<head>
    <link rel="stylesheet" href="/stylesheets/driver-pages-css/driverOrderDetails.css">
</head>

<div id="order-detail-wrapper">
    <h2>Welcome {{email}},</h2>
    <h1>Order Delivery Details</h1>
    <br>
    <div id="map">
        Map to Restaurant
       
    </div>
    {{!-- Initializing the map to be centered at SFSU --}}
    <script>
        function initMap() {
                //coordinates for SFSU
                myLatLng = { lat: 37.7241, lng: -122.4799 };
                map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 13,
                    center: myLatLng,
                });
                        
                
                
            }
    </script>
    {{!-- API Key needed to show the map --}}
    <script 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAt5bTrIJpTWq8gJi2_ry7Fkl5YV00RpMU&callback=initMap&v=weekly"
        defer
        ></script>

    <br>
    <hr style="width: 800px;">
    {{!-- restaurant details  --}}
    <div id="order-restaurant-details">
        {{#each orders}}
            <b><i class="bi bi-houses"> </i>Restaurant: </b>{{restaurant_name}}<br>
            <b><i class="bi bi-geo-alt-fill"> </i>Restaurant Location: </b>{{address}}<br>
            <b><i class="bi bi-geo-alt"> </i>Delivery Location: </b>{{building}}, Room Number#{{roomNumber}}<br>
            <b><i class="bi bi-alarm"> </i>Delivery Time: </b>[Insert Delivery Time Here]<br>
            <b><i class="bi bi-piggy-bank"> </i>Total Earned:</b>[Insert Total Money Earned Here]<br>
        {{/each}}
        <br>
    </div>

    {{!-- div with a user's order tickets --}}
    <div id="order-items-list">
        <h3>Order Items</h3>
        <hr style="width: 70%">
        <div id="scrollbar-wrapper">
            {{!-- partials for each ticket in the order --}}
            {{#each tickets}}
                {{> driverorderticket this id='{{@index}}'}}
            {{/each}}
        </div>
        
    </div>
    <form action="driverOrderDetails/deliveryMap" method="POST" id="take-order-button">
        {{#each orders}}
            <input type="hidden" name="orderID" value={{orderID}}>
        {{/each}}
        <button type="submit" id="take-order">Take Order</button>
    </form>
    {{!-- <a id="take-order-button" href="/driverDeliveryMap">Take Order</a> --}}


</div>