  {{!-- Partial for the navbar --}}
  {{!-- Author(s): Emily and Eunice --}}
  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RW0GBD8PY5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RW0GBD8PY5');
</script>

  <nav class="navbar">
  <a id="logo" href="/"><i class="bi bi-symmetry-horizontal"></i>GATOREATS</a>
  <div class="navbar-left">
    
    <a class="navbar-links" href="/">Home</a>
    {{#if logged}} 
      {{#if driver}}
        <div class="navbar-right">
          <a class="nav-link navbar-links" href="/driverOrderList">Order List</a>
          <a class="nav-link navbar-links" href="/driverDeliveryMap">Delivery Map</a>
        </div>    
      {{/if}}
      {{#if restaurantOwner}}
      <div class="navbar-right">
          <a class="nav-link navbar-links" href="/restaurantApplication" style="text-align:center">Restaurant Application</a>
          <a class="nav-link navbar-links" href="/myRestaurants" style="text-align:center">My Restaurants</a>
      </div>
      {{/if}}
    {{else}}
    {{!-- driver dropdown --}}
    <div class="dropdown navbar-dropdown">
      <a class="nav-link navbar-links" href="#" role="button" aria-expanded="false">
      Drivers
      </a>
      <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
        <li><a class="dropdown-item" href="/driverLogin">Driver Login</a></li>
        <li><a class="dropdown-item" href="/driverRegistration">Driver Registration</a></li>
      </ul>
    </div>
    {{!-- driver dropdown end --}}

    {{!-- restaurants dropdown --}}
    <div class="dropdown navbar-dropdown">
        <a class="nav-link navbar-links" href="#" role="button" aria-expanded="false">
        Restaurants
        </a>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
          <li><a class="dropdown-item" href="/restaurantOwnerLogin">Restaurant Owner Login</a></li>
          <li><a class="dropdown-item" href="/restaurantOwnerRegistration">Restaurant Owner Registration</a></li>
          {{!-- <li><a class="dropdown-item" href="/restaurantApplication">Restaurant Application</a></li> --}}
        </ul>
      </div>
    {{!-- restaurants dropdown end --}}
    {{/if}}
    <a class="navbar-links" href="/about">About Us</a>
  </div>

  <form id="search-form" class="navbar-center" action="/searchResult">
    <select id="category-select" name="category">
      <option value="all" {{#if (categoryFunction category "all")}} selected {{/if }}>All</option>
      {{#each categories}}
        <option value="{{categoryName}}" {{#if (categoryFunction ../this.category categoryName)}} selected {{/if }}>{{categoryName}}</option>
      {{/each}}
    </select><input id="search-bar" name="search" type="text" placeholder="Search" value="{{ searchTerm }}" maxlength="40"><a id ='search-button'><i class="bi bi-search"></i></a>
  </form>
  {{#if logged}}
  <div class="navbar-right" styles="display:flex">
      <p class="dropdown-item"style="color:White; margin: 0 10px 0 0;">Welcome: {{email}}</p>
      <form method="post" action="/sfsuUser/logout" id="logout-form">
        <input type="hidden" name="extra_submit_param" value="extra_submit_value">
        <button type="submit" name="submit_param" value="submit_value" class="nav-link navbar-links" href="#" role="button" aria-expanded="false">
            Logout
        </button>
      </form>
  </div>
  {{else}}
    <div class="navbar-right">
      {{!-- <a class="nav-link navbar-links" href="/sfsuLogin">SFSU Login/Register</a>
      <a class="nav-link navbar-links" href="/sfsuRegistration">SFSU <br>Register</a> --}}
      <div class="dropdown navbar-dropdown">
        <a class="nav-link navbar-links" style="width: 200px;" href="#" role="button" aria-expanded="false">
        SFSU Login/Register
        </a>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
          <li><a class="dropdown-item" href="/sfsuLogin">SFSU Login</a></li>
          <li><a class="dropdown-item" href="/sfsuRegistration">SFSU Registration</a></li>
        </ul>
      </div>
      
    </div>

  {{/if}}
    {{!-- login dropdown end --}}
    
    {{!-- shopping cart --}}
    {{!-- <a class="navbar-links"><i class="bi bi-cart2"></i></a> --}}
    
      
</nav>