{{!-- user's ticket for each food --}}
{{!-- Author(s): David and Emily --}}
<div class="ticket">
    <image class="ticket-image" src="/images/uploads/{{images}}"></image>
    <div class="ticket-details">

                Name:  {{name}}<br>
                <p class="item-price">Price: $ {{price}} </p><br> 

             
    Qty:<input type="number" name="ticket[{{@index}}][quantity]" name="quantity" value={{quantity}} min = "1" max="5">
             
    </div>
    <input type="hidden" name="ticket[{{@index}}][menuID]" value={{menuID}} />
    <button id="trash-ticket-{{@index}}" class="trash-ticket" name="ticket[{{@index}}][delete]" value={{menuID}} form="deleteTicket">Trash</button>
</div>
