<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{!-- frontend js --}}
    <script defer src="/js/frontend.js"></script>
    {{!-- css for search results and card --}}
    <link rel="stylesheet" href="/stylesheets/searchResult.css">
</head>
<body>
    <h6 style="text-align: center; margin-top: 10px;"><b>{{results}}</b> results found for <b>{{searchTerm}}</b> in category <b>{{category}}</b></h6>
    <div id="restaurant-wrapper">
        
        {{!-- {{searchResult}}  --}}
        
        {{#each searchResult}}
            {{results}}
            {{> card this}}
        {{/each}}
        
        {{!-- <div style="background: orange; padding: 10px; height: 600px; width: 600px;">
            <p>
                {{results}}
                {{name}}
                {{results}}
                </p>
        </div> --}}
    </div>
    
</body>