{{!-- HTMl that displays a restaurant's menu and user cart --}}
{{!-- Author(s): David --}}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/sfsu-user-pages-css/restaurant-menu-cart.css">
</head>

<div class = "center">
    <h1 class="rest-name">{{title}}</h1>
    <div class="box">
        <div class="wrapper">
            <div class = "wrapper2">
                {{#each menu}}
                <div class = "menu-box">
                    <image src="/images/uploads/{{images}}" class="menu-item-image"></image>
                    <br>
                    <h4>{{name}}</h4>
                    <hr>
                    <p class="menu-item-description">{{description}}</p>
                    <hr>
                    <h5 style="display:inline">$</h5><h5 style="display:inline">{{price}}</h5>
                    <br>
                    <button class="button" name="add" id={{menuID}}>add to cart</button>
                    <p class="class" style="display:none" id="restaurant-id">{{restaurant}}</p>
                </div>
                {{/each}}
            </div>
            <form action="sfsuUser/addToCart" method="POST">
            <input type="hidden" id="showRestaurantID" name="restaurantid" value={{restaurantID}} />
                <div class="cart"> 
                    <h3>Cart</h3>
                    <hr>
                    <div class = "cart-scroll" id = "cart-scroll">
                        {{#if logged}}
                            {{#each userCart}}
                                <div class ="cart-container">
                                    <image class="cart-photo" name="cart[{{@index}}][image]" id="cart[{{@index}}][image]" src="/images/uploads/{{images}}" width="50" height="50"></image>
                                    <h6 name="menuName" id="cart[{{@index}}][menuName]">{{name}}</h6>
                                    <h6>Qtn:<input type="number" id="quantity{{@index}}" style="width: 70px;" name="cart[{{@index}}][quantity]" value={{quantity}} min = "1" max="20"></h6>
                                    <h6 class="itemPrice" >${{price}}</h6>
                                    <input type="hidden" id="price[{{@index}}]" name="cart[{{@index}}][price]" value="{{price}}"/>
                                    <input type="hidden" name="cart[{{@index}}][cartID]" id="cart[{{@index}}][cartID]" value={{cartID}} />
                                    <input type="hidden" id="cart[{{@index}}][menuID]" name="cart[{{@index}}][menuID]" value="{{cartItem}}"/>
                                </div>
                            {{/each}}
                        {{/if}}
                    </div>
                    <hr>
                    <h4 style="display:inline">Total: </h4><h4 style="display:inline" id="totalPrice">
                        {{#if logged}}
                            {{#sumTotal userCart}}
                                {{output}}
                            {{/sumTotal}}
                        {{else}}
                        0.00
                        {{/if}}
                        
                    </h4>
                    <br>
                    <button type="submit" name="checkout" class="checkOut-button">Check Out</button>
                </div>
            </form>
        </div>
    </div>
</div> 


<script>
    var total = parseFloat(document.getElementById("totalPrice").innerText);
    let cartItems = [];

    var length = parseInt(document.getElementById("cart-scroll").childElementCount);
    for(var i = 0; i < length; i++){
        cartItems.push({
            menuId: document.getElementById("cart["+i+"][menuID]").value,
            image: document.getElementById("cart["+i+"][image]").src,
            name: document.getElementById("cart["+i+"][menuName]").innerText,
            price: parseFloat(document.getElementById("price["+i+"]").value),
            quantity: parseInt(document.getElementById("quantity"+i).value),
            cartID: parseInt(document.getElementById("cart["+i+"][cartID]").value)
        });
    }

    document.querySelectorAll('[name="add"]').forEach(addButton => {
        addButton.addEventListener('click', () => {
            var menuId = event.srcElement.id;
            var buttonID = event.srcElement.parentNode.firstElementChild;
            var image = buttonID.src;
            var nameElement = buttonID.nextElementSibling.nextElementSibling;
            var name = nameElement.innerText;
            var price = nameElement.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.innerText;
            var quantity = 1; // Default quantity

            // Check if item with same menuId already exists in cart
            var existingItem = cartItems.find(item => item.menuId === menuId);
            if (existingItem) {
            // If item exists, update the quantity and total price
                existingItem.quantity++;
                existingItem.totalPrice += parseFloat(price);
            } else {
                // If item doesn't exist, create a new item in the cart
                cartItems.push({
                    menuId: menuId,
                    image: image,
                    name: name,
                    price: parseFloat(price),
                    quantity: quantity,
                    totalPrice: parseFloat(price),
                    cartID: -1
                });
            }

            total += parseFloat(price);
            updateCartDisplay();
        });
    });

    function updateCartDisplay() {
        var cartContainer = document.getElementById('cart-scroll');
        cartContainer.innerHTML = ''; // Clear the cart container

        cartItems.forEach((item, index) => {
            let div = document.createElement('div');
            div.innerHTML = `
            <div class ="cart-container">
                <image class="cart-photo" name="cart[${index}][image]" src="${item.image}" width="20" height="20"></image>
                <h6 name="cart[${index}][menuName]">${item.name}</h6>
                <h6>Qtn:<input type="number" id="quantity${index}" name="cart[${index}][quantity]" value="${item.quantity}" min="1" max="20"></h6>
                <h6 class="itemPrice">$${item.price}</h6>
                <input type="hidden" id="price[{{@index}}]" name="cart[${index}][price]" value="${item.price}"/>
                <input type="hidden" name="cart[${index}][menuid]" value="${item.menuId}"/>
                <input type="hidden" name="cart[${index}][cartID]" id="cart[${index}][cartID]" value=${item.cartID} />
            </div>
            <br>
            `;
            cartContainer.appendChild(div);

            // Add event listener to quantity input field
            var quantityInput = document.getElementById(`quantity${index}`);
            quantityInput.addEventListener('change', (event) => {
                var newQuantity = parseInt(event.target.value);
                if (!isNaN(newQuantity) && newQuantity >= 1 && newQuantity <= 20) {
                    // Update quantity and total price
                    item.totalPrice = item.price * newQuantity;
                    item.quantity = newQuantity;
                    total = calculateTotalPrice();
                    updateCartDisplay();
                } else {
                    // Restore previous valid quantity
                    event.target.value = item.quantity;
                }
            });
        });

        document.getElementById('totalPrice').innerText = formatter.format(total);
    }

    function calculateTotalPrice() {
        return cartItems.reduce((total, item) => total + item.totalPrice, total);
    }



    //Source used: https://stackoverflow.com/questions/149055/how-to-format-numbers-as-currency-strings
    const formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
    });
    
</script>
