{{!-- HTMl that displays a restaurant's menu and user cart --}}
{{!-- Author(s): David --}}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/sfsu-user-pages-css/restaurant-menu-cart.css">
</head>
<body>
    <div class = "center">
        <h1 class="rest-name">{{title}}</h1>
        <div class="box">
            <div class="wrapper">
                <div class = "wrapper2">
                    {{#each menu}}
                    <div class = "menu-box">
                        <image src="/images/uploads/{{images}}" width="300" height="300"></image>
                        <hr>
                        <h3>{{name}}</h3>
                        <hr>
                        <p>{{description}}</p>
                        <hr>
                        <h5 style="display:inline">$</h5><h5 style="display:inline">{{price}}</h5>
                        <br>
                        <button class="button" name="add" id={{menuID}}>add to cart</button>
                    </div>
                    {{/each}}
                </div>
                <form action="restaurantMenuCart/addToCart" method="POST">

                    <div class="cart"> 
                        <h3>Cart</h3>
                        <hr>
                        <div class = "cart-scroll" id = "cart-scroll">
                            
                        </div>
                        <hr>
                        <h4 style="display:inline">Total: </h4><h4 style="display:inline" id="totalPrice">0.00</h4>
                        <br>
                        <button type="submit" name="checkout" class="checkOut-button">Check Out</button>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</body>

<script>
    var total = 0;
    let cartItems = 0;

    document.querySelectorAll('[name="add"]').forEach(addButton => {
        addButton.addEventListener('click', () => {
            var menuId = event.srcElement.id;
            var buttonID = event.srcElement.parentNode.firstElementChild;
            var image = buttonID.src;
            var nameElement = buttonID.nextElementSibling.nextElementSibling;
            var name = nameElement.innerText;
            var price = nameElement.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.innerText;
            total += parseFloat(price);
            let div = document.createElement('div');
            div.innerHTML = `
                <div class ="cart-container">
                        <image class="cart-photo" name="cart[${cartItems}][image]" src="`+ image + `" width="50" height="50"></image>
                        <h6 name="cart[${cartItems}][menuName]">` + name + `</h6>
                        <h6>Qtn:<input type="number" id="quantity" name="cart[${cartItems}][quantity]" value="1" min = "1" max="5"></h6>
                        <h6 class="itemPrice">$` + price +`</h6>
                        <input type="hidden" name="cart[${cartItems}][price]" value="${price}"/>
                        <input type="hidden" name="cart[${cartItems}][menuid]" value="${menuId}"/>
                </div>
                <br>
            `;
            document.getElementById('cart-scroll').appendChild(div);
            document.getElementById('totalPrice').innerText = formatter.format(total);
            cartItems++;
        });
    });

    //Source used: https://stackoverflow.com/questions/149055/how-to-format-numbers-as-currency-strings
    const formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
    });
</script>
